<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/../public/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../public/css/hover.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,900&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../public/fav.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/fav.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/fav.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/fav.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/fav.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/fav.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/fav.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/fav.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/fav.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../public/fav.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/fav.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/fav.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/fav.ico/favicon-16x16.png">
    <link rel="manifest" href="../public/fav.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../public/fav.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <title>{{cat-name}} | Catvas</title>

</head>

<body>
 {{nav}}
    
    <!-- Code Here -->
    <div class="container-cat">
        <div class="row">
            <div class="col-md-4">
                <div class="center-wrapper">
                    <img src="{{link}}" width="400px", height="400px">
                    <ul class="cat-details">
                        <li id="adoption-status"><i class="fas fa-clipboard-check"></i>
                            {{adoption-status}}
                        </li>
                        <li id="cat-age"><i class="fas fa-history"></i>
                            {{cat-age}} years old
                        </li>
                        <li id="cat-sex"><i class="fas fa-venus-mars"></i>
                            {{cat-sex}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="center-wrapper">
                    <p id="cat-name-profile">MEOW, my name is {{cat-name}}!</p>
                    <p id="cat-short-description"> {{cat-short-desc}}</p>
                </div>
                <hr class="cat-bar">
                <p class="profile-mini-header">A brief description of your future cat by your future cat</p>
                <p id="your-cat">"{{your-cat-desc}}"
                </p>
                <p class="profile-mini-header">DLSU PUSA's thoughts</p>
                <p id="pusa-thoughts"> 
                    "{{pusa-thoughts}}" 
                    <br><br>
                    "{{notable-quotes}}"
                </p>
                <div class="center-wrapper">
                    <button class="btn btn-outline-danger"><i class="fas fa-paw"></i> ADOPT ME</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-paw"></i> GODPARENT</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-paw"></i> FAVORITE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Code Here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>